Source: wikistats
Section: web
Priority: extra
Maintainer: Daniel Zahn <dzahn@wikimedia.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://wikistats.wmflabs.org
Vcs-Git: https://gerrit.wikimedia.org//r/p/operations/debs/wikistats.git
Vcs-Browser: https://gerrit.wikimedia.org/r/gitweb?p=operations/debs/wikistats.git;a=tree

Package: wikistats
Architecture: all
Depends: php5-cli
Description: a Mediawiki statistics project using PHP
 A project to fetch statistics from thousands of Mediawiki installations
 on the web and display them as HTML and Mediawiki syntax tables.
